<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>View Product inside the cart</h1>
    <form onsubmit="createCartSubmit(event)">
      <label for="productId">Product ID:</label>
      <input type="number" id="productId" name="productId" />
      <br />
      <label for="productId">Product Quantity:</label>
      <input type="number" id="quantity" name="quantity" />
      <br />
      <button type="submit">Add To Cart</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>
